.cascading-dropDown-container{
    display: inline-block;
    border-style:solid;
    border-width: 1px;
    border-color: #aaa;
}
.cascading-dropDown-container::after{
    content: "";
    display: block;
    border-bottom: 1px solid white;
    position: relative;
}
.cascading-dropDown-label{
    padding: 4px 8px;
    display: inline-block;
    color:#333;
}
.cascading-dropDown-list-container{
    width: 600px;
    border:1px solid #aaa;
    background-color: white;
    position: absolute;
    margin-left: -50px;
    padding: 15px;
    z-index: 9999;
}
.cascading-close{
    float: right;
    margin-right: -10px;
    margin-top: -10px;
    cursor: pointer;
    color: #666;
}
.cascading-close:hover{
    color: #333;
}
.cascading-close:active{
    color: #222;
}
.cascading-labs{
    border-bottom: 2px solid red;
}
.cascading-lab{
    padding: 0 8px;
    color:#005aa0;
    display: inline-block;
    border-style:solid;
    border-width: 1px 1px 2px 1px;
    border-color: #aaa #aaa transparent #aaa;
    margin-bottom: -2px;
    margin-right:4px;
    cursor: pointer;
}
.cascading-dropDown-label::after,.cascading-lab::after{
    color: #aaa;
    margin: 0 -4px 0 8px;
    content: ">";
    display: inline-block;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}
.cascading-dropDown-label:hover::after.cascading-lab:hover::after{
    color:#999;
}
.cascading-lab:last-child{
    border-width:2px;
    border-color: red red white red;
}
.cascading-dropDown-list-container ul{
    margin: 0;
    padding: 0;
}
.cascading-dropDown-list-container li{
    list-style: none;
    display: inline-block;
}
.cascading-item{
    width: 150px;
    margin: 10px 10px;
    padding: 4px 0px;
    display: inline-block;
    cursor: pointer;
    color: #005aa0;
    text-align: center;
}
.cascading-item:hover{
    color: white;
    background-color: #005aa0;
}
.cascading-loading{
    margin-top: 15px;
    color: #aaa;
}
.cascading-hide{
    display: none;
}